<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @case.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= cl_image_tag @case.photo.key %>
</p>

<p>
  <strong>Description:</strong>
  <%= @case.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @case.link %>
</p>

<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
