<div class="navbar navbar-expand-sm navbar-light navbar-taco">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/therainycloud/image/upload/v1580726215/Untitled_design_34_mmf2dd.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Home", "/", class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Cases", cases_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <div class="nav-link" >
            <%= link_to "Contact", :anchor => "contact", class: "nav-link", style: "color: gray !important;"%>
          </div>
        </li>
        <% if current_user %>
        <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <% else  %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <% end %>
    </ul>
  </div>
</div>
